#time{
    font-family: 'Lato', sans-serif;
}
#date{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
#card_{
    padding-top: 30px;
    padding-right: auto;
    padding-bottom: 30px;
}
#waktu{
    padding: 10px;
}

